[submodule "Vote_dApp/dApp/lib/forge-std"]
	path = Vote_dApp/dApp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Vote_dApp/dApp/lib/openzeppelin-contracts"]
	path = Vote_dApp/dApp/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
