.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header li {
    border: yellow solid 2px;
    margin-right: 2rem;
}